<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.delphynium.maskip</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>F9EBAB28-BF5B-4581-A408-1E8B5866D4EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C16FC88-46E6-4FA0-8A92-8987C773852D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B2D5BFC-8B37-43B1-AB90-B0C9F836DA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Delphynium</string>
	<key>description</key>
	<string>Input ipaddr/masklen output subnet ip and host id</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Maskip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>maskip</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>converting ...</string>
				<key>script</key>
				<string>python mask.py {query} 2&gt;&amp;1 | tee maskip.log</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input ipaddr/masklen (xxx.xxx.xxx.xxx/xx)</string>
				<key>title</key>
				<string>mask an ip</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9EBAB28-BF5B-4581-A408-1E8B5866D4EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1C16FC88-46E6-4FA0-8A92-8987C773852D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The converted result {query} is copied to your clipboard.</string>
				<key>title</key>
				<string>{query} copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5B2D5BFC-8B37-43B1-AB90-B0C9F836DA2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This may come in handy if you're taking a computer network course or something.</string>
	<key>uidata</key>
	<dict>
		<key>1C16FC88-46E6-4FA0-8A92-8987C773852D</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>5B2D5BFC-8B37-43B1-AB90-B0C9F836DA2C</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F9EBAB28-BF5B-4581-A408-1E8B5866D4EC</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>delphynium.art</string>
</dict>
</plist>
